<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="七日, 个人, 知识管理, 维基, 百科, wiki" />

<title>七日知识管理系统</title>

<% include include/inhead %>
</head>
<body>
   
<div data-role="header">
    <h1>设 置</h1>
    <% if(visitor) { %>
        <a href="/page/<%= visitor.rootPageId %>" data-icon="home">首页</a>
    <% } %>
</div>
   
  <div data-role="content" class="jqm-content"> 

    <% if(visitor) { %>
        <!--<%= visitor.id %>-->
        <h3>当前用户</h3>
        <%=visitor.email %><br/>
        <br/>
        <a href="#" class="logout">退出</a>
        <h3>我的站点</h3>
        <ul class="gray">
        <% rootPages.forEach(function(page) { %>
          <li><a href="/page/<%= page.id %>"><%= page.title %></a>
            <% if(page.id == visitor.rootPageId) { %>
              (默认首页，仅作者可见)
            <% } else { %>
              (公开)
            <% } %>
          </li>
        <% }) %>
        </ul>
    <% } else { %>
        <% include include/login %>
    <% } %>
  
  <% include include/about %>
  <a href="#" data-rel="back" data-role="button" data-icon="arrow-l" data-iconpos="left" data-inline="true">返回</a>

<% include include/content-footer %>
</div><!--/content-->

</body>
</html>
